<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 스키마 작성 후, 어떤 인터페이스의 메서드를 쿼리문과
	연결할지 아래의 인터페이스 파일롭터 mapper태그로 연결한다 -->
<mapper namespace="org.ict.mapper.BoardMapper">
	<!--  -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				title LIKE '%'||#{keyword}||'%' AND
			</if>
			<if test="searchType == 'c'.toString()">
				content LIKE '%'||#{keyword}||'%' AND
			</if>
			<if test="searchType == 'w'.toString()">
				writer LIKE '%'||#{keyword}||'%' AND
			</if>
			<if test="searchType == 'tc'.toString()">
				(title LIKE '%'||#{keyword}||'%' OR
				content LIKE '%'||#{keyword}||'%') AND
			</if>
			<if test="searchType == 'cw'.toString()">
				(writer LIKE '%'||#{keyword}||'%' OR
				content LIKE '%'||#{keyword}||'%') AND
			</if>
			<if test="searchType == 'tcw'.toString()">
				(title LIKE '%'||#{keyword}||'%' OR
				content LIKE '%'||#{keyword}||'%' OR
				writer LIKE '%'||#{keyword}||'%') AND
			</if>
		</if>
	</sql>

	<!-- 위의 BoardMapper 인터페이스의 getList메서드를 호출 시
		실제 실행할 쿼리문을 아래와 연결
		mybatis는 단일자료와 리스트자료를 구분하지 않기 때문에
		resultType에는 List<> 자료형도 아래와 같이
		단일 VO만 적어준다 -->
	<select id="getList" resultType="org.ict.domain.BoardVO">
		<!-- <이나 >과 같이 태그로 오인될 수 있는 문자는 그냥 작성하지 않고,
			CDATA를 이용해야한다.
			아래와 같이 <![CDATA[ 실행문 ]]> 과 같이 실행문을
			CDATA내부에 작성하면 내부의 부등호는 전부 문자로 간주 
			
			검색
			쿼리문에서 LIKE절을 사용하는 경우 #{변수명} 대신
			Oracle : '%'||#{변수명}||'%'를 사용
			MySQL : CONCAT('%', #{변수명}, '%')
			-->
		<!-- SELECT * FROM board_tbl WHERE bno&gt;4 ORDER BY bno DESC -->
		<!-- <![CDATA[SELECT * FROM board_tbl WHERE bno<4 ORDER BY bno DESC ]]> -->
		<![CDATA[SELECT * FROM board_tbl WHERE title LIKE '%'||#{keyword}||'%' ORDER BY bno DESC ]]>
	</select>
	
	<!-- INSERT 메서드 연결후 쿼리문을 작성
		단, 가변적으로 들어갈 부분은 ?로 작성-->
	<!-- INSERT는 BoardVO를 파라미터로 받으며
		이 경우, VO 내부 변수를 #{변수명}으로 쿼리문에 전달할 수 있다.
		* ${변수명}이 아니니 주의!! -->
	<insert id="insert">
		INSERT INTO board_tbl(bno, title, content, writer) VALUES(board_num.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<!-- 위 insert 메서드는 쿼리문을 한 ㄴ번만 실행해도 데이터가 입력되지만,
		단점이라면 bno에 들어갈 값을 미리 확인할 수 없다.
		bno에 들어갈 값을 확인할 수 있도록 insert 실행 이전에
		bno값을 외부에서 조회할 수 있도록 변수화 시키는 작업이 필요
		그 작업을 할 때 사용하는 태그가 바로 selectKey 태그이다. -->
	<insert id="insertSelectKey">
		<!-- 실행 이전에 bno 값을 먼저 조회하여 bno변수명으로 저장 
			keyProperty에 변수명, order에 BEFORE를 넣어서
			insert쿼리문 실행 이전에 조회한 bno값을 bno라는 명칭에 저장-->
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			SELECT board_num.nextval FROM DUAL
		</selectKey>
		INSERT INTO board_tbl(bno, title, content, writer) VALUES(#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	
	
	<!-- resultType은 리스트랑 개별자료형을 구분하지 않기 때문에
		BoardVO로 처리 -->
	<select id="select" resultType="org.ict.domain.BoardVO">
		SELECT * FROM board_tbl WHERE bno=#{bno}
	</select>
	
	
	<delete id="delete">
		DELETE FROM board_tbl WHERE bno=#{bno}
	</delete>
	
	
	<update id="update">
		UPDATE board_tbl SET title=#{title}, content=#{content}, writer=#{writer}, updatedate=SYSDATE WHERE bno=#{bno}
	</update>
	
	
	<select id="getListPaging" resultType="org.ict.domain.BoardVO">
		<!--
			공통 쿼리
			조건에 구애받지 않는 공통쿼리와 조건별로 추가해야하는 조건별 쿼리를 따로 지정
		-->
		<![CDATA[
			SELECT bno, title, content, writer, regdate, updatedate, replycnt FROM
			(SELECT /*+ INDEX_DESC(board_tbl pk_board)*/ 
			ROWNUM rn, board_tbl.* FROM board_tbl WHERE
		]]>
		<!-- 검색 키워드가 들어갈 때, 안들어갈 때 등의 조건별 쿼리가 들어감 -->
		<!-- 
			1. 전달받은 searchType이 null인지 아닌지 확인
			2. searchType이 null이 아닌 경우 어떤 키워드가 들어오는지 확인
			3. 조건문을 공통쿼리와 LIMIT부분 사이에 연결
		-->
		<include refid="search"/>
		
		
		<!-- ㅡMySQL의 LIMIT와 같은 역할 -->
		<![CDATA[ 
			ROWNUM <= #{pageNum} * #{amount})
			WHERE rn > (#{pageNum} -1 ) * #{amount}
		]]>
	</select>
	
	<select id="getTotalBoardCnt" resultType="int">
		SELECT COUNT(*) FROM board_tbl WHERE
		<!-- 여기에 SQL태그에 저장된 조건문 넣기
		기존 코드는 검색 조건에 무관하게 전체 DB글만 가져왔지만,
		검색 조건에 따른 총 글 개수를 조건에 맞추어 출력하도록 수정
		검색 조건은 searchType 변수를 전달받아야 하므로
		컨트롤러, 서비스, 매퍼쪽에도 searchType을 받을 수 있게
		SearchCriteria를 전달한다.
		 -->
			<include refid="search"/>
		bno > 0
	</select>
	
	<update id="updateReplyCnt">
		UPDATE board_tbl SET replycnt = replycnt + #{amount} WHERE bno = #{bno}
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>